@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/Wodify Logo.webp" alt="Wodify Logo" class="logo-class" />
    <div class="centered-links">
        <a class="btn btn-custom-login" asp-controller="Account" asp-action="Login">Login</a>
        <a class="btn btn-custom-register" asp-controller="Account" asp-action="Register">Register</a>
    </div>
</div>

