@using AffiliateWODTracker.Data.DataModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<OwnerEntity> SignInManager

@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <img src="~/images/MFIT Logo.png" alt="MFIT Logo" class="logo-class" />
    <div class="centered-links">
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="btn btn-custom" asp-controller="Affiliate" asp-action="MyAffiliate">My Affiliate</a>
            <a class="btn btn-custom" asp-controller="Members" asp-action="MyMembers">My Members</a>
        }
        else{
        <a class="btn btn-custom" asp-controller="Account" asp-action="Login">Login</a>
        <a class="btn btn-custom" asp-controller="Account" asp-action="Register">Register</a>
        }
    </div>
</div>

