@* @model CreateAffiliateViewModel *@

<form asp-action="CreateAffiliate">
    @* Include form fields for creating a new affiliate *@
    <button type="submit" class="btn btn-success">Create</button>
</form>
