/* site.css */
.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Use full height of the screen */
}

    .centered-form .form-group {
        margin-bottom: 1rem; /* Spacing between form groups */
        width: 100%; /* Full width */
        max-width: 400px; /* Maximum width */
    }

    .centered-form input {
        width: 100%; /* Full width */
    }

    .centered-form h2 {
        margin-bottom: 2rem; /* Spacing below the title */
    }

    .centered-form button {
        width: auto; /* Auto-width based on content */
    }
    .logo-class {
        width: 150px; /* Adjust the width as needed */
        margin: 20px; /* Adjust the margin as needed */
        display: block; /* To center in the container if needed */
        margin-left: auto;
        margin-right: auto;
    }

/* Custom button styles */
.btn-custom-login {
    background-color: #4CAF50; /* Green */
    border-color: #4CAF50; /* Green */
    color: white;
}

    .btn-custom-login:hover {
        background-color: #45A049; /* Darker green */
        border-color: #45A049;
    }

.btn-custom-register {
    background-color: #f0ad4e; /* Orange */
    border-color: #f0ad4e; /* Orange */
    color: white;
}

    .btn-custom-register:hover {
        background-color: #ec971f; /* Darker orange */
        border-color: #ec971f;
    }