/* site.css */
.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Use full height of the screen */
}

    .centered-form .form-group {
        margin-bottom: 1rem; /* Spacing between form groups */
        width: 100%; /* Full width */
        max-width: 400px; /* Maximum width */
    }

    .centered-form input {
        width: 100%; /* Full width */
    }

    .centered-form h2 {
        margin-bottom: 2rem; /* Spacing below the title */
    }

    .centered-form button {
        width: auto; /* Auto-width based on content */
    }
